In [1]:
import pandas as pd
import numpy as np

In [3]:
medical_insurance = pd.read_csv('Pthon/insurance.csv')

In [4]:
medical_insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
age = 28
smoker = 0
sex = 0
bmi = 26.2
num_of_children = 3

In [6]:
insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500

In [7]:
insurance_cost

5469.0

In [8]:
print("This person's insurance cost is " + str(insurance_cost) + " dollars.")

This person's insurance cost is 5469.0 dollars.

In [9]:
# Age Factor
age += 4
print(age)

32

In [10]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
print(new_insurance_cost)

6469.0

In [11]:
change_in_insurance_cost = new_insurance_cost - insurance_cost
print("The change in cost of insurance after increasing the age by 4 years is " + str(change_in_insurance_cost) + " dollars.")

The change in cost of insurance after increasing the age by 4 years is 1000.0 dollars.

In [12]:
# BMI Factor
age -= 4
bmi += 3.1

In [13]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost

In [14]:
print("The change in estimated insurance cost after increasing BMI by " + str(change_in_insurance_cost) + " dollars.")

The change in estimated insurance cost after increasing BMI by 1147.0 dollars.

In [15]:
# Male vs. Female Factor
bmi = 26.2
sex = 1

In [16]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost

In [17]:
print("The change in estimated cost for being male instead of female is " + str(change_in_insurance_cost) + " dollars.")

The change in estimated cost for being male instead of female is -128.0 dollars.

In [18]:
# This means that men tend to have lower medical costs on average than women.

In [21]:
sex = 0
num_of_children = 1

new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost
print("The change in estimated cost after decreasing number of children is " + str(change_in_insurance_cost) + " dollars.")

The change in estimated cost after decreasing number of children is -850.0 dollars.

In [22]:
age = 28
smoker = 1
sex = 0
bmi = 26.2
num_of_children = 3

In [24]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost
print("The change in estimated cost for a smoker "  + str(change_in_insurance_cost) + " dollars.")

The change in estimated cost for a smoker 24000.0 dollars.

In [1]:
# Initial variables for Maria 
age = 28
sex = 0  
bmi = 26.2
num_of_children = 3
smoker = 0  

# Estimate Maria's insurance cost
insurance_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500

print("The estimated insurance cost for Maria is " + str(insurance_cost) + " dollars.")

The estimated insurance cost for Maria is 5469.0 dollars.

In [2]:
# Initial variables for Omar
age = 35
sex = 1 
bmi = 22.2
num_of_children = 0
smoker = 1  

# Estimate Omar's insurance cost 
insurance_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500

print("The estimated insurance cost for Omar is " + str(insurance_cost) + " dollars.")

The estimated insurance cost for Omar is 28336.0 dollars.

In [9]:
def calculate_insurance_cost(name, age, sex, bmi, num_of_children, smoker):
    estimated_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500
 
    print("The estimated insurance cost for " + name + " is " + str(estimated_cost) + " dollars.")
    return estimated_cost

In [4]:
age = 28
sex = 0  
bmi = 26.2
num_of_children = 3
smoker = 0

In [5]:
calculate_insurance_cost(age, sex, bmi, num_of_children, smoker)

The estimated insurance cost for this person is 5469.0 dollars.

5469.0

In [10]:
maria_insurance_cost = calculate_insurance_cost(name = "Maria", age = 28, sex = 0, bmi = 26.2, num_of_children = 3, smoker = 0)

The estimated insurance cost for Maria is 5469.0 dollars.

In [11]:
omar_insurance_cost = calculate_insurance_cost(name = "Omar", age = 35, sex = 1, bmi = 22.2, num_of_children = 0, smoker = 1)

The estimated insurance cost for Omar is 28336.0 dollars.

In [14]:
my_insurance_cost = calculate_insurance_cost("Dola",20,0,22.5,0,0)

The estimated insurance cost for Dola is 825.0 dollars.

In [15]:
def difference(a,b):
    Difference = b-a
    print("The difference in insurance cost is " + " dollars.")
    return Difference

In [16]:
difference(maria_insurance_cost, my_insurance_cost)

The difference in insurance cost is  dollars.

-4644.0