In [1]:
import pandas as pd
import numpy as np

In [2]:
medical_insurance = pd.read_csv('Pthon/insurance.csv')

In [3]:
medical_insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
age = 28
smoker = 0
sex = 0
bmi = 26.2
num_of_children = 3

In [5]:
insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500

In [6]:
insurance_cost

5469.0

In [7]:
print("This person's insurance cost is " + str(insurance_cost) + " dollars.")

This person's insurance cost is 5469.0 dollars.

In [8]:
# Age Factor
age += 4
print(age)

32

In [9]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
print(new_insurance_cost)

6469.0

In [10]:
change_in_insurance_cost = new_insurance_cost - insurance_cost
print("The change in cost of insurance after increasing the age by 4 years is " + str(change_in_insurance_cost) + " dollars.")

The change in cost of insurance after increasing the age by 4 years is 1000.0 dollars.

In [11]:
# BMI Factor
age -= 4
bmi += 3.1

In [12]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost

In [13]:
print("The change in estimated insurance cost after increasing BMI by " + str(change_in_insurance_cost) + " dollars.")

The change in estimated insurance cost after increasing BMI by 1147.0 dollars.

In [14]:
# Male vs. Female Factor
bmi = 26.2
sex = 1

In [15]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost

In [16]:
print("The change in estimated cost for being male instead of female is " + str(change_in_insurance_cost) + " dollars.")

The change in estimated cost for being male instead of female is -128.0 dollars.

In [17]:
# This means that men tend to have lower medical costs on average than women.

In [18]:
sex = 0
num_of_children = 1

new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost
print("The change in estimated cost after decreasing number of children is " + str(change_in_insurance_cost) + " dollars.")

The change in estimated cost after decreasing number of children is -850.0 dollars.

In [19]:
age = 28
smoker = 1
sex = 0
bmi = 26.2
num_of_children = 3

In [20]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_children + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost
print("The change in estimated cost for a smoker "  + str(change_in_insurance_cost) + " dollars.")

The change in estimated cost for a smoker 24000.0 dollars.

In [21]:
# Initial variables for Maria 
age = 28
sex = 0  
bmi = 26.2
num_of_children = 3
smoker = 0  

# Estimate Maria's insurance cost
insurance_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500

print("The estimated insurance cost for Maria is " + str(insurance_cost) + " dollars.")

The estimated insurance cost for Maria is 5469.0 dollars.

In [22]:
# Initial variables for Omar
age = 35
sex = 1 
bmi = 22.2
num_of_children = 0
smoker = 1  

# Estimate Omar's insurance cost 
insurance_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500

print("The estimated insurance cost for Omar is " + str(insurance_cost) + " dollars.")

The estimated insurance cost for Omar is 28336.0 dollars.

In [27]:
def calculate_insurance_cost(name, age, sex, bmi, num_of_children, smoker):
    estimated_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500
 
    print("The estimated insurance cost for " + name + " is " + str(estimated_cost) + " dollars.")
    return estimated_cost

In [41]:
# age = 28
# sex = 0  
# bmi = 26.2
# num_of_children = 3
# smoker = 0 

calculate_insurance_cost("Gon",28, 0, 26.2, 3, 0)

The estimated insurance cost for Gon is 5469.0 dollars.

5469.0

In [32]:
maria_insurance_cost = calculate_insurance_cost(name = "Maria", age = 28, sex = 0, bmi = 26.2, num_of_children = 3, smoker = 0)

The estimated insurance cost for Maria is 5469.0 dollars.

In [33]:
omar_insurance_cost = calculate_insurance_cost(name = "Omar", age = 35, sex = 1, bmi = 22.2, num_of_children = 0, smoker = 1)

The estimated insurance cost for Omar is 28336.0 dollars.

In [34]:
my_insurance_cost = calculate_insurance_cost("Dola",20,0,22.5,0,0)

The estimated insurance cost for Dola is 825.0 dollars.

In [35]:
def difference(a,b):
    Difference = b-a
    print("The difference in insurance cost is " + " dollars.")
    return Difference

In [36]:
difference(maria_insurance_cost, my_insurance_cost)

The difference in insurance cost is  dollars.

-4644.0

In [37]:
# Right now the function shows estimated cost of insurance but it will be helpful if we could find out how to reduce it.

In [40]:
# Add your code here
def analyze_smoker(smoker_status):
    if smoker_status == 1:
      print("To lower your cost, you should consider quitting smoking.")
    try: 
      if bmi == 22.2 and smoker_status == 0:
        print("Smoking is not an issue for you")
    except:
      print("Keep it up! You are healthy")

    else:
      print("Smoking is not an issue for you.")

def analyze_bmi(bmi_value):
  if bmi_value > 30:
    print("Your BMI is in the obese range. To lower your cost, you should significantly lower your BMI.")
  elif bmi_value >= 25 and bmi_value <= 30:
    print("Your BMI is in the overweight range. To lower your cost, you should lower your BMI.In order to get normal bmi range, reduce " + str(bmi_value - 25))
  elif bmi_value >= 18.5 and bmi_value < 25:
    print("Your BMI is in a healthy range.")
  else:
    print("Your BMI is in the underweight range. Increasing your BMI will not help lower your cost, but it will help improve your health.")

# Function to estimate insurance cost:
def estimate_insurance_cost(name, age, sex, bmi, num_of_children, smoker):
  estimated_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500
  print(name + "'s Estimated Insurance Cost: " + str(estimated_cost) + " dollars.")
  analyze_smoker(smoker)
  analyze_bmi(bmi)
  return estimated_cost
  

 
# Estimate Keanu's insurance cost
keanu_insurance_cost = estimate_insurance_cost(name = 'Keanu', age = 29, sex = 1, bmi = 26.2, num_of_children = 3, smoker = 1)

Dola_insurance_cost = estimate_insurance_cost(name = 'Dola', age = 20, sex = 0, bmi = 22.2, num_of_children = 0, smoker = 0)

Keanu's Estimated Insurance Cost: 29591.0 dollars.
To lower your cost, you should consider quitting smoking.
Smoking is not an issue for you.
Your BMI is in the overweight range. To lower your cost, you should lower your BMI.In order to get normal bmi range, reduce 1.1999999999999993
Dola's Estimated Insurance Cost: 714.0 dollars.
Smoking is not an issue for you.
Your BMI is in a healthy range.

In [39]:
def analyze_bmi(bmi_value):
  if bmi_value > 30:
    print("Your BMI is in the obese range. To lower your cost, you should significantly lower your BMI.","In order to get normal bmi range, reduce" + str(bmi_value - 25))
    
  elif bmi_value >= 25 and bmi_value <= 30:
    print("Your BMI is in the overweight range. To lower your cost, you should lower your BMI. In order to get normal bmi range, reduce " + str(bmi_value - 25))
    
  elif bmi_value >= 18.5 and bmi_value < 25:
    print("Your BMI is in a healthy range.", bmi_value)
  else:
    print("Your BMI is in the underweight range. Increasing your BMI will not help lower your cost, but it will help improve your health.")

In [1]:
# Function to estimate insurance cost:
def estimate_insurance_cost(name, age, sex, bmi, num_of_children, smoker):
  estimated_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500
  print(name + "'s Estimated Insurance Cost: " + str(estimated_cost) + " dollars.")
  return estimated_cost
 
# Estimate Maria's insurance cost
maria_insurance_cost = estimate_insurance_cost(name = "Maria", age = 31, sex = 0, bmi = 23.1, num_of_children = 1, smoker = 0)

# Estimate Rohan's insurance cost
rohan_insurance_cost = estimate_insurance_cost(name = 
"Rohan", age = 25, sex = 1, bmi = 28.5, num_of_children = 3, smoker = 0)

# Estimate Valentina's insurance cost
valentina_insurance_cost = estimate_insurance_cost(name = "Valentina", age = 53, sex = 0, bmi = 31.4, num_of_children = 0, smoker = 1)

Maria's Estimated Insurance Cost: 4222.0 dollars.
Rohan's Estimated Insurance Cost: 5442.0 dollars.
Valentina's Estimated Insurance Cost: 36368.0 dollars.

In [3]:
names = ["Maria","Rohan", "Valentina"]

In [4]:
insurance_costs = [4150.0, 5320.0, 35210.0]

In [6]:
insurance_data = zip(names, insurance_costs)
print(insurance_data)

<zip object at 0x000001F055C5F648>

In [7]:
insurance_data = list(zip(names, insurance_costs))

In [9]:
insurance_data

[('Maria', 4150.0), ('Rohan', 5320.0), ('Valentina', 35210.0)]

In [10]:
estimated_insurance_data = []

In [12]:
estimated_insurance_data.append(("Maria", maria_insurance_cost))
estimated_insurance_data.append(("Rohan", rohan_insurance_cost))
estimated_insurance_data.append(("Valentina", valentina_insurance_cost))

In [13]:
estimated_insurance_data

[('Maria', 4222.0), ('Rohan', 5442.0), ('Valentina', 36368.0)]

In [14]:
print("Here is the actual insurance cost data: " + str(insurance_data))

Here is the actual insurance cost data: [('Maria', 4150.0), ('Rohan', 5320.0), ('Valentina', 35210.0)]

In [15]:
print("Here is the estimated insurance cost data: " + str(estimated_insurance_data))

Here is the estimated insurance cost data: [('Maria', 4222.0), ('Rohan', 5442.0), ('Valentina', 36368.0)]

In [48]:
estimated_cost =[]

In [49]:
estimated_cost.append(maria_insurance_cost)
estimated_cost.append(rohan_insurance_cost)
estimated_cost.append(valentina_insurance_cost)

In [52]:
[x1 - x2 for (x1, x2) in zip(estimated_cost, insurance_costs)]

[72.0, 122.0, 1158.0]

In [56]:
print(list(zip(estimated_cost, insurance_costs)))

[(4222.0, 4150.0), (5442.0, 5320.0), (36368.0, 35210.0)]

In [1]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

In [2]:
names.append("Priscilla")
insurance_costs.append(8320.0)

In [3]:
medical_records = list(zip( insurance_costs, names))
print(medical_records)

[(13262.0, 'Mohamed'), (4816.0, 'Sara'), (6839.0, 'Xia'), (5054.0, 'Paul'), (14724.0, 'Valentina'), (5360.0, 'Jide'), (7640.0, 'Aaron'), (6072.0, 'Emily'), (2750.0, 'Nikita'), (12064.0, 'Paul'), (8320.0, 'Priscilla')]

In [4]:
num_medical_records = len(medical_records)
print(num_medical_records)

11

In [5]:
first_medical_record = medical_records[0]

In [6]:
print("Here is the first medical record: " + str(first_medical_record))

Here is the first medical record: (13262.0, 'Mohamed')

In [7]:
medical_records.sort()
print("Here are the medical records sorted by insurance cost: " + str(medical_records))

Here are the medical records sorted by insurance cost: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul'), (5360.0, 'Jide'), (6072.0, 'Emily'), (6839.0, 'Xia'), (7640.0, 'Aaron'), (8320.0, 'Priscilla'), (12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

In [8]:
cheapest_three = medical_records[:3]

In [9]:
print("Here are the three cheapest insurance costs in our medical records: " + str(cheapest_three))

Here are the three cheapest insurance costs in our medical records: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul')]

In [10]:
priciest_three = medical_records[-3:]

In [11]:
print("Here are the three most expensive insurance costs in our medical records: " + str(priciest_three))

Here are the three most expensive insurance costs in our medical records: [(12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

In [12]:
occurrences_paul = names.count("Paul")

In [13]:
print("There are " + str(occurrences_paul) + " individuals with the name Paul in our medical records.")

There are 2 individuals with the name Paul in our medical records.

In [14]:
names_list = list(zip(names,insurance_costs))

In [15]:
names_list.sort()

In [16]:
print(names_list)

[('Aaron', 7640.0), ('Emily', 6072.0), ('Jide', 5360.0), ('Mohamed', 13262.0), ('Nikita', 2750.0), ('Paul', 5054.0), ('Paul', 12064.0), ('Priscilla', 8320.0), ('Sara', 4816.0), ('Valentina', 14724.0), ('Xia', 6839.0)]

In [17]:
middle_five_records = names_list[3:7]

In [18]:
middle_five_records

[('Mohamed', 13262.0), ('Nikita', 2750.0), ('Paul', 5054.0), ('Paul', 12064.0)]

In [1]:
names = ["Judith", "Abel", "Tyson", "Martha", "Beverley", "David", "Anabel"]
estimated_insurance_costs = [1000.0, 2000.0, 3000.0, 4000.0, 5000.0, 6000.0, 7000.0]
actual_insurance_costs = [1100.0, 2200.0, 3300.0, 4400.0, 5500.0, 6600.0, 7700.0]

In [2]:
total_cost = 0

In [3]:
for insurance_cost in actual_insurance_costs:
  total_cost += insurance_cost

In [4]:
average_cost = total_cost/len(actual_insurance_costs)

In [5]:
print("Average insurance cost: " + str(average_cost) + " dollars.")

Average insurance cost: 4400.0 dollars.

In [7]:
for i in range(len(names)):
    name = names[i]
    insurance_cost = actual_insurance_costs[i]
    print("The insurance cost for " + name + " is " + str(insurance_cost) + " dollars.")

The insurance cost for Judith is 1100.0 dollars.
The insurance cost for Abel is 2200.0 dollars.
The insurance cost for Tyson is 3300.0 dollars.
The insurance cost for Martha is 4400.0 dollars.
The insurance cost for Beverley is 5500.0 dollars.
The insurance cost for David is 6600.0 dollars.
The insurance cost for Anabel is 7700.0 dollars.

In [8]:
for i in range(len(names)):
    name = names[i]
    insurance_cost = actual_insurance_costs[i]
    print("The insurance cost for " + name + " is " + str(insurance_cost) + " dollars.")
    
    if insurance_cost > average_cost:
        print("The insurance cost for " + name + " is above average.")
    elif insurance_cost < average_cost:
        print("The insurance cost for " + name + " is below average.")
    else:
        print("The insurance cost for " + name + " is equal to the average.")

The insurance cost for Judith is 1100.0 dollars.
The insurance cost for Judith is below average.
The insurance cost for Abel is 2200.0 dollars.
The insurance cost for Abel is below average.
The insurance cost for Tyson is 3300.0 dollars.
The insurance cost for Tyson is below average.
The insurance cost for Martha is 4400.0 dollars.
The insurance cost for Martha is equal to the average.
The insurance cost for Beverley is 5500.0 dollars.
The insurance cost for Beverley is above average.
The insurance cost for David is 6600.0 dollars.
The insurance cost for David is above average.
The insurance cost for Anabel is 7700.0 dollars.
The insurance cost for Anabel is above average.

In [9]:
updated_estimated_costs = [estimated_cost * 11/10 for estimated_cost in estimated_insurance_costs]

In [10]:
print(updated_estimated_costs)

[1100.0, 2200.0, 3300.0, 4400.0, 5500.0, 6600.0, 7700.0]

# Extra Task to be done
- Convert the first for loop in the code to a while loop.
- Modify the second for loop so that it also calculates how far above or below the average the estimated insurance cost is.